
Data/archive.zip
Data/movies_metadata.csv
Data/movies_metadata.csv.zip
Data/ratings.csv.zip
Data/ratings.csv
config.py
__pycache__/config.cpython-37.pyc
.ipynb_checkpoints/ETL-checkpoint.ipynb
.ipynb_checkpoints/ETL-checkpoint.ipynb
.ipynb_checkpoints/ETL-checkpoint.ipynb
.ipynb_checkpoints/ETL-checkpoint.ipynb
.ipynb_checkpoints/ETL_function_test-checkpoint.ipynb
Resources/movies_metadata.csv
Resources/ratings.csv
Resources/wikipedia-movies.json
.ipynb_checkpoints/ETL_clean_wiki_movies-checkpoint.ipynb
.ipynb_checkpoints/ETL_clean_kaggle_data-checkpoint.ipynb
.ipynb_checkpoints/ETL_Deliverable3_starter_code-checkpoint.ipynb
ETL_Deliverable3_starter_code.ipynb
